.container {
  padding: 10px 20px;
  /* min-width: 600px; */
  height: 100px;
  background-color: #fff;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  border-radius: 3px;
  column-gap: 10px;

}

.label1 {
  min-width: 250px;
  height: 36px;
  position: relative;
}


.label1 select {
  min-width: 230px;
  height: 36px;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 30px 0 10px;
  border: 2px solid #6ab04c;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

option {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}

select option:checked {
  font-weight: bold;
}
.male{
  margin-right: 15px;
  margin-bottom: 5px;
}
.malel{
  margin-right: 15px;

}
.female{
  margin-right: 15px;
  margin-bottom: 5px;
}
.state-red{
    color: red !important ;
}